language = "cpp"
run = "clang++ -std=c++17 -Weverything -Wno-padded -Wno-c++98-compat -Wno-exit-time-destructors -Wno-missing-prototypes -Wno-delete-incomplete main.cpp AirPods.cpp GiftCard.cpp Headphones.cpp HomeTheater.cpp Television.cpp Wrappers.cpp && ./a.out"
